{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YouTube</title>
</head>
<body>
<div id="wrap">
    <h1>
        <a href="{% url 'index' %}">YouTube Bookmark</a>
    </h1>
    <a href="{% url 'video:bookmark_list' %}">My Bookmark</a>

    <div class="content-container">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>