{% extends 'common/base.html' %}
{% block content %}
<div class="search-container">
    <form action="">
        <input type="text" name="keyword">
        <button type="submit" class="btn">Search</button>
    </form>

    <ul class="place-list">
        {% for place in places %}
        <li class="place-result">
            <div class="result-content">
                <div class="vcenter">
                    <p class="result-name">{{ place.name }}</p>
                </div>
            </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}